<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My portfolio site</title>
    
    <!-- for correct work in IE: -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- forbid mobile browsers to scale site-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
       
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>-->
    
    <!-- Нормализация стилей -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    
    <!-- Собственные стили -->
    <link rel="stylesheet" href="css/main.css">
    
    <!-- Подключение web-шрифтов -->
    <link href="https://fonts.googleapis.com/css?family=Overpass|Patua+One&display=swap" rel="stylesheet">
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon/favicon-17x17.png"> 
    
</head>
<body>
      
      
    <!-- ============================
    
    HEADER
    
     ============================ -->

   
    <div class="header">
        
        <div class="header_title">Victor Tungusov <br> portfolio site</div>
        <div class="header_slogan">SOFTWARE AND WEB DEVELOPMENT</div>
        <div class="header_arrow">
           <i class="fa fa-chevron-circle-down"></i>
        </div>
    </div>
  
    
    <!-- ============================
    
    PORTFOLIO
    
     ============================ -->

    
    <div class="portfolio" >
    <div class="container">
        
        <div class="title">
            Portfolio works
        </div>
        
        <div class="row">
            <!-- Work in portfolio -->
            <div class="col-4">
               <div class="portfolio-item">
                    <div class="portfolio-item__img">
                        <img src="img/portfolio/draft_survey_sign.png" 
                        alt="DRAFT SURVEY PROGRAM">
                    </div>
                    <div class="portfolio-item__title">
                        <a href="draft-survey.html">DRAFT SURVEY PROGRAM</a>
                    </div>
                    <div class="portfolio-item__text">
                    <p>Programm for calculation ship’s draft survey</p>
                    </div>
                </div>
            </div>
            <!-- // Work in portfolio -->
            
            <!-- Work in portfolio -->
            <div class="col-4">
               <div class="portfolio-item">
                    <div class="portfolio-item__img">
                        <img src="img/portfolio/work2.jpg" 
                        alt="DRAFT SURVEY WEB SITE">
                    </div>
                    <div class="portfolio-item__title">
                        <a href="#">DRAFT SURVEY WEB SITE</a>
                    </div>
                    <div class="portfolio-item__text">
                    Lending site based on PSD template
                    </div>
                </div>
            </div>
            <!-- // Work in portfolio -->
            
            <!-- Work in portfolio -->
            <div class="col-4">
               <div class="portfolio-item">
                    <div class="portfolio-item__img">
                        <img src="img/portfolio/work3.jpg" 
                        alt="WORD GAME">
                    </div>
                    <div class="portfolio-item__title">
                        <a href="#">WORD GAME</a>
                    </div>
                    <div class="portfolio-item__text">
                    Easy game for learning English words
                    </div>
                </div>
            </div>
            <!-- // Work in portfolio -->
        </div>
    </div>
    </div>
    <!-- ============================
    
    FOOTER
    
     ============================ -->
     <div class="footer">
         <div class="container">
             <div class="row">
                
                
                 <div class="col-4">
                    <p class="footer__name">© Victor Tungusov</p>
                     <p class="footer__undername">Software & web development</p>
                 </div>   
                     
                     
                 <div class="col-4">
                 <p class="footer__social">Social contacts</p>
                 <p class="footer__social-icons">
                    <a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a>
                     <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                     <a href="#" target="_blank"><i class="fa fa-twitter-square"></i></a>
                     <a href="#" target="_blank"><i class="fa fa-skype"></i></a>
                 </p>
                 </div>
                 
                                 
                 <div class="col-4">
                 <div><a href="#" class="button" target="_blank"><i class="fa fa-envelope"></i>   Send e-mail</a></div>
                 </div>       
                   
             </div>
         </div>
     </div>
</body>
</html>